<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BCS</title>
<!--    <meta property="og:title" content="profile - Previous Repulsive Oryx" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
    <meta charset="utf-8" />
<!--    <meta property="twitter:card" content="summary_large_image" />-->

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
     <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<!--  <script type="text/javascript" src="table-sort.js"></script>-->
      <script type="text/javascript" src="{{ url_for('static',filename='styles/operations/table-sort.js') }}"></script>
  </head>
  <body>
<!--    <link rel="stylesheet" href="style.css" />-->
     <link rel="stylesheet" href="{{ url_for('static',filename='styles/operations/style.css') }}" />
    <div>
<!--      <link href="profile.css" rel="stylesheet" />-->
<link href="{{ url_for('static',filename='styles/operations/profile.css') }}" rel="stylesheet" />
      <div class="profile-container">
        <div class="profile-sidebar">
          <nav id="navigation" class="profile-nav">
            {% for item in permissions %}
            <a
              href={{item.link}}
              rel="noreferrer noopener"
              class="profile-link01"
            >
              <span>{{item.ru_name}}</span>
              <br />
            </a>
            {% endfor %}
          </nav>
          <div class="profile-profile">
            <div class="profile-container1">
              <a
                href="https://example.com"
                rel="noreferrer noopener"
                class="profile-link06"
              >
                Тех. поддержка
              </a>
              <a
                href="javascript: signOut();"
                class="profile-link07"
              >
                Выйти
              </a>
              <div style="display: none;">
              <form name="formSignout" id="signout" action="{{ url_for('auth.logout') }}" method="post">
              </form>
              </div>
              <script>
              function signOut() {
                   const form = document.getElementById('signout');
                   form.submit();
              }
              </script>
            </div>
          </div>
        </div>
        <header data-role="Header" class="profile-header">
          <img
            alt="pastedImage"
            src="{{ url_for('static',filename='styles/profile/public/external/pastedimage-5gzf.svg') }}"
            id="logo"
            class="profile-pasted-image"
          />
          <div class="profile-nav1"></div>
          <div class="profile-container2">
            <a
              href="http://localhost:8000/api/v1/user/profile"
              id="profile"
              rel="noreferrer noopener"
              class="profile-link08"
            >
              {{ user_name }}
            </a>
            <div id="profile_link" class="profile-btn-group"></div>
          </div>
          <div data-role="BurgerMenu" class="profile-burger-menu">
            <svg viewBox="0 0 1024 1024" class="profile-icon">
              <path
                d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
              ></path>
            </svg>
          </div>
        </header>
        <figure data-role="Accordion" class="profile-header1"></figure>
          <button
                      id="form_operations"
                    name="form_operations"
                    type="submit"
                    class="operations-button button"
          >
            <span>
              <span>Сформировать операции</span>
              <br/>
            </span>
              </button>
          <div class="operations-container4">
              <div class="operations-container5">
            <table id="OperationTable" class="table">
                <thead>
    <tr>
        <th>
            <input type="checkbox" class="select-all checkbox"  name="select-all" />
        </th>
        <th class="sortable">Портфель</th>
        <th class="sortable">Стратегия</th>
        <th class="sortable">Клиент</th>
        <th class="sortable">Обновлено</th>
    </tr>
                </thead>
                <tbody class="table-hover">
                {% for item in portfolios %}
                <tr>
        <td>
            <input type="checkbox" class="select-item checkbox" name="select-item" value="1000" />
        </td>
        <td>{{item.account}}</td>
        <td>{{item.strategy}}</td>
        <td>{{item.customer}}</td>
        <td>{{item.updated}}</td>
    </tr>
                {% endfor %}
                </tbody>
</table>
                  </div>
              </div>
          <form name="formOperations" id="formOperations" action="{{ url_for('operations.form_operations') }}" method="post">
              <input type='hidden' id="portfolios" name='portfolios'/>
              </form>
<script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
    $(function(){
        //button select all or cancel
        $("#select-all").click(function () {
            var all = $("input.select-all")[0];
            all.checked = !all.checked
            var checked = all.checked;
            $("input.select-item").each(function (index,item) {
                item.checked = checked;
            });
        });
        //column checkbox select all or cancel
        $("input.select-all").click(function () {
            var checked = this.checked;
            $("input.select-item").each(function (index,item) {
                item.checked = checked;
            });
        });
        //check selected items
        $("input.select-item").click(function () {
            var checked = this.checked;
            var all = $("input.select-all")[0];
            var total = $("input.select-item").length;
            var len = $("input.select-item:checked:checked").length;
            all.checked = len===total;
        });

    });


</script>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
